:root {
  --primary-color: rgb(241, 91, 116);
  --nav-color: rgb(94, 87, 87);
  --secondary-color: rgba(56, 48, 48, 0.37);
  --button-color: rgb(39, 146, 39);
}

body {
  display: flex;
  flex-direction: column;
  height: 150vh;
}

h1,
h3 {
  color: var(--primary-color);
}

.container-shadow {
  box-shadow: 3px 3px 3px rgb(214, 203, 203);
  padding-left: 4.5rem;
  padding-right: 4.5rem;
}

.help-icon {
  width: 27px;
  height: 27px;
}

@media (max-width: 700px) {
  .help-icon {
    width: 18px;
    height: 18px;
  }
}
